/* Define CSS variables with @property */
@property --main-bg-color {
    syntax: '<color>';
    inherits: false;
    initial-value: #f9f9f9;
}

@property --main-text-color {
    syntax: '<color>';
    inherits: false;
    initial-value: #333;
}

@property --primary-color {
    syntax: '<color>';
    inherits: false;
    initial-value: #007BFF;
}

@property --primary-hero-title-color {
    syntax: '<color>';
    inherits: false;
    initial-value: #333;
}

@property --secondary-color {
    syntax: '<color>';
    inherits: false;
    initial-value: #555;
}

@property --theme-bg-color {
    syntax: '<color>';
    inherits: false;
    initial-value: #f7ab00;
}

@property --nav-bg-color {
    syntax: '<color>';
    inherits: false;
    initial-value: #333;
}

@property --border-radius {
    syntax: '<length>';
    inherits: false;
    initial-value: 8px;
}

@property --padding {
    syntax: '<length>';
    inherits: false;
    initial-value: 20px;
}

@property --transition-duration {
    syntax: '<time>';
    inherits: false;
    initial-value: 0.3s;
}

@property --pre-bg-color {
    syntax: '<color>';
    inherits: false;
    initial-value: #f4f4f4;
}

@property --pre-border-color {
    syntax: '<color>';
    inherits: false;
    initial-value: #007BFF;
}

@property --code-bg-color {
    syntax: '<color>';
    inherits: false;
    initial-value: #e4e4e4;
}

/* Define CSS variables in the :root pseudo-class */
:root {
    --main-bg-color: #f9f9f9;
    --main-text-color: #333;
    --primary-color: #007BFF;
    --secondary-color: #555;
    --nav-bg-color: #333;
    --border-radius: 8px;
    --padding: 20px;
    --transition-duration: 0.3s;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --pre-bg-color: #f4f4f4;
    --pre-border-color: #007BFF;
    --code-bg-color: #e4e4e4;
	--shadow-color: rgba(0, 0, 0, 0.1);
	--shadow-blur: 8px;
}

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom Scrollbar */
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: var(--main-bg-color);
    border-radius: var(--border-radius);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    border: 3px solid var(--main-bg-color);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-color);
}

/* Body and Typography */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
	font-size: 0.9em;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    padding: 0 var(--padding);
}

h1, h2, h3 {
    color: var(--primary-color);
}

h1 {
    font-size: 1.2em;
    margin-top: 20px;
	margin-bottom: 20px;
}

h2 {
    font-size: 1.2em;
    margin-top: 30px;
	margin-bottom: 20px;
}

h3 {
    font-size: 1em;
    margin-top: 3px;
	margin-bottom: 20px;
}

/* Body and Typography class */
.hero-title {
    color: transparent;
    background: linear-gradient(90deg, var(--primary-hero-title-color), #ff8a00);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 0.95rem;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
    animation: fadeInDown 0.8s ease-out;
}

/* Navigation */
nav {
    background-color: var(--nav-bg-color);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
	box-shadow: var(--box-shadow);
    position: relative; /* Nécessaire pour limiter les enfants */
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    position: relative;
}
nav > ul > li {
    display: inline-block;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
	font-size: 1em
}
nav a:hover {
    background-color: #007BFF;
    color: #fff;
    border-radius: 3px;
}
nav a.active {
    background-color: #555;
    color: white;
    border-radius: 3px;
}
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #344;
    border-radius: 3px;
    padding: 5px 0;
    z-index: 1000;
	transition: visibility 0s linear 0.3s, opacity 0.3s linear; /* Transition douce */
}
nav ul ul li {
    display: block;
}
nav ul ul a {
    padding: 8px 15px;
    width: 200px;
}
nav ul li:hover > ul {
    display: block;
	transition-delay: 0.3s; /* Supprime le délai */
}
/* Liens actifs */
nav a.active {
    background-color: #6c757d;
    color: white;
}

section {
            padding: 5px;
            margin: 5px;
            background: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
/* Content */
.content {
    padding: var(--padding);
    background: #fff;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-bottom: 30px;
}

pre {
    background-color: var(--pre-bg-color);
    padding: 15px;
    border-left: 5px solid var(--pre-border-color);
    border-radius: 4px;
    overflow-x: auto;
	white-space: pre-wrap; /* Permet le retour à la ligne */
    word-wrap: break-word; /* Casse les mots longs si nécessaire */
}

code {
    color: var(--primary-color);
    background-color: var(none);
    padding: 3px 6px;
    border-radius: 4px;
	word-break: break-word; /* Casse les mots longs dans <code> */
}

ul, ol {
    margin: 20px 0;
    padding-left: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}

/* Diagram */
.diagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

details summary {
            cursor: pointer;
            padding: 10px;
            background-color: var(--primary-color);
            color: white;
            border-radius: var(--border-radius);
            box-shadow: var(--box-shadow);
            transition: background-color var(--transition-duration);
        }

details summary:hover {
    background-color: var(--secondary-color);
}

details[open] summary {
    background-color: var(--secondary-color);
}

details p, details pre {
    padding: var(--padding);
    margin-top: 10px;
    background-color: #f9f9f9;
    border-radius: var(--border-radius);
}

.box {
    border: 2px solid var(--main-text-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    text-align: center;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    box-shadow: var(--box-shadow);
}

.arrow {
    width: 100px;
    text-align: center;
    position: relative;
    color: var(--primary-color);
    font-size: 24px;
}

.arrow::after {
    content: "↓";
    font-size: 24px;
    color: var(--primary-color);
}

.horizontal-arrow {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.horizontal-arrow::after {
    content: "→";
    font-size: 24px;
    color: var(--primary-color);
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.small-box {
    flex: 1;
    border: 2px solid var(--main-text-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    text-align: center;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    box-sizing: border-box;
    min-height: 180px;
}

/* Image */
.image {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-bottom: 20px;
}

.photo-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* Permet de passer à la ligne si l’espace est insuffisant */
    justify-content: space-between;
    margin: 20px 0;
}

.photo-grid img {
    width: calc(33.333% - 13.33px); /* 3 images avec espace entre */
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    height: auto;
}

.photo-item {
    text-align: left;
    flex: 1 1 calc(33.333% - 13.33px); /* pour 3 par ligne avec espace */
}

.photo-item img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-bottom: 10px;
	height: auto;
}

.photo-item h3 {
	color: var(--primary-color);
    margin: 10px 0 5px;
    font-size: 18px;
}

.photo-item p {
    font-size: 14px;
    color: #666;
}

.photo-grid-mono {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* Permet de passer à la ligne si l’espace est insuffisant */
    justify-content: space-between;
    margin: 20px 0;
}

.photo-grid-mono img {
    width: calc(100% - 0.33px); /* 1 images avec espace entre */
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    height: auto;
}

/* Card */
.card {
    background: white;
    border-radius: var(--border-radius);
    box-shadow: 0 4px var(--shadow-blur) var(--shadow-color)
    overflow: hidden;
    padding: var(--padding);
    margin-bottom: 20px;
}

/* Debug */
.debug {
    background: #ffcccc;
    color: #900;
    padding: var(--padding);
    border: 1px solid #900;
    border-radius: var(--border-radius);
    margin-bottom: 20px;
}

/* Container */
.container {
    padding: var(--padding);
    background: var(--main-bg-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-bottom: 20px;
}

/* Child */
.child {
    padding: var(--padding);
    background: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-bottom: 20px;
}

/* Container Queries */
@container (min-width: 500px) {
    .container {
        padding: 30px;
        background: #eee;
    }
}

@container (min-width: 800px) {
    .container {
        padding: 40px;
        background: #ddd;
    }
}

@container (min-height: 500px) {
    .container {
        padding: 30px;
        background: #ccc;
    }
}

@container (min-height: 800px) {
    .container {
        padding: 40px;
        background: #bbb;
    }
}

/* Layered Styles */
@layer base {
    body {
        font-family: 'Arial', sans-serif;
    }
}

@layer components {
    .button {
        padding: 10px 20px;
        background: var(--primary-color);
        color: white;
        border: none;
        border-radius: var(--border-radius);
        cursor: pointer;
        transition: background-color var(--transition-duration);
    }

    .button:hover {
        background: var(--secondary-color);
    }
}

@layer customization {
    .custom-header {
        font-size: 3em;
        color: var(--primary-color);
    }
}

@layer development {
    .dev-box {
        border: 2px dashed #ccc;
        padding: var(--padding);
        margin-bottom: 20px;
    }
}

@layer production {
    .prod-box {
        border: 2px solid #000;
        padding: var(--padding);
        margin-bottom: 20px;
    }
}

/* Header */
header {
    background-color: var(--theme-bg-color);
    color: white;
    padding: var(--padding);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-bottom: 30px;
}

header h1 {
    margin: 0;
    font-size: 1em;
}

header p {
    margin: 10px 0 0;
    font-size: 0.9em;
}

/* Footer */
footer {
    background-color: var(--nav-bg-color);
    color: white;
    padding: var(--padding);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

/* Flex */
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; /* utile en responsive */
}

footer .footer-column {
    flex: 1;
    padding: var(--padding);
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-align: center;
}

footer .footer-column h3 {
    margin-bottom: 10px;
}

footer .footer-column p {
    margin: 0;
	text-align: left;
	font-size: 0.9em;
}

.p-gauche {
  text-align: left;
}

#scrollToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  display: none;
  background-color: var(--main-bg-color);
  color: black;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: opacity 0.3s ease;
}

#scrollToTop:hover {
  background-color: var(--accent-color);
}

/* Début style des animations */
/* Animations avec @keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes scaleUp {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

@keyframes parallaxScroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 100%;
    }
}

/* Classes d'animation */
.fade-in {
    animation: fadeIn 0.6s ease-out forwards;
}

.bounce {
    animation: bounce 1s infinite ease-in-out;
}

.scale-up {
    animation: scaleUp 0.3s ease-out forwards;
}

/* Parallaxe */
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-scroll {
    animation: parallaxScroll 10s linear infinite;
}

/* Effets de transition */
.transition {
    transition: all var(--transition-duration) cubic-bezier(0.25, 1, 0.5, 1);
}

.scene {
    width: 90%;
    max-width: 650px;
    height: 220px;
    perspective: 1000px;
}

/* Effets 3D */
.perspective {
    perspective: 1000px;
}

.card-3d {
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 0.6s ease;
}

.card-3d:hover {
    transform: rotateY(180deg);
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
    border-radius: 12px;
    overflow: hidden;
    transform: scale(1);
    transition: transform 0.5s ease;
}

.card:hover .face {
    transform: scale(1.03);
}

.front {
    background-image: url('images/chantiers/charpente-1.webp');
}

.back {
    background-image: url('images/chantiers/charpente-1.webp');
    transform: rotateY(180deg);
}

/* Scroll Animation */
.scroll-fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    will-change: opacity, transform;
}

.scroll-fade-in.active {
    opacity: 1;
    transform: translateY(0);
}

/* Survol avec filtres */
.hover-glow {
    transition: filter 0.3s ease-in-out;
}

.hover-glow:hover {
    filter: brightness(1.5) contrast(1.2) saturate(1.3);
}

.blur-effect {
    filter: blur(0);
    transition: filter 0.3s ease;
}

.blur-effect:hover {
    filter: blur(5px);
}

/* Révélation de texte */
@keyframes textReveal {
    from {
        background-position: 200% 0;
    }
    to {
        background-position: 0 0;
    }
}

.reveal-text {
    background: linear-gradient(90deg, #007BFF, #FF5722, #007BFF);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textReveal 3s linear infinite;
}

/* Animation bloc a propos */
.animation {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
}
.folder, .file, .group, .network {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #333;
    border-radius: 5px;
    position: relative;
    animation: bounce 2s infinite;
}
.folder {
    background-color: #FFA500;
    color: #fff;
}
.file {
    background-color: #007BFF;
    color: #fff;
}
.group {
    background-color: #28A745;
    color: #fff;
    animation-delay: 0.5s;
}
.network {
    background-color: #6F42C1;
    color: #fff;
    animation-delay: 1s;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

/* Entrée/Sortie */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

.slide-in {
    animation: slideIn 0.5s ease-out forwards;
}

.slide-out {
    animation: slideOut 0.5s ease-in forwards;
}

/* Mode de fusion et masques */
.blend-mode {
    mix-blend-mode: multiply;
    background-color: rgba(255, 255, 0, 0.5);
}

.mask {
    mask-image: url('mask.png');
    mask-size: cover;
    mask-repeat: no-repeat;
    -webkit-mask-image: url('mask.png');
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
}

/* Fin style des animations */

/* cookie-banner */

.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #222;
  color: white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.cookie-banner p {
  margin: 0;
  font-size: 0.9em;
}
.cookie-banner a {
  color: #4fc3f7;
  text-decoration: underline;
}
.cookie-banner button {
  margin-left: 10px;
  padding: 0.5em 1em;
  background-color: #4fc3f7;
  border: none;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}


/* Média queries Footer pour les petits écrans */
@media (max-width: 768px) {
	
	@property --padding {
    syntax: '<length>';
    inherits: false;
    initial-value: 5px;
	}
	
	/* Basic Reset */
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	
	/* Body and Typography */
	body {
		font-family: 'Roboto', sans-serif;
		line-height: 1.6;
		font-size: 0.9em;
		color: var(--main-text-color);
		background-color: var(--main-bg-color);
		padding: 0;
	}
	
	/* Affichage nav reduit */
	nav a {
    color: white;
    text-decoration: none;
    padding: 10px 5px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
	font-size: 0.9em
	}
	
	/* Affichage en colonne sur petit écran */
    .photo-grid {
        flex-direction: column;
        align-items: center;
    }

    .photo-grid img {
        width: 100%;
    }
	
    footer {
        flex-direction: column; /* Organise le footer en colonne pour les petits écrans */
        align-items: center; /* Centre les éléments dans le footer */
    }

    footer .footer-column {
        min-width: 100%; /* Les colonnes prennent toute la largeur sur les petits écrans */
        margin-bottom: 15px; /* Espacement vertical entre les colonnes */
    }
}

@media (max-width: 480px) {
	
	@property --padding {
    syntax: '<length>';
    inherits: false;
    initial-value: 5px;
	}
	
	/* Basic Reset */
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	
	/* Affichage nav reduit */
	nav a {
    color: white;
    text-decoration: none;
    padding: 10px 5px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
	font-size: 0.9em
	}
	
	/* Affichage en colonne sur petit écran */
    .photo-grid {
        flex-direction: column;
        align-items: center;
    }

    .photo-grid img {
        width: 100%;
    }
	
    footer {
        padding: 15px; /* Réduit le padding pour les très petits écrans */
    }

    footer .footer-column {
        padding: 10px; /* Réduit le padding des colonnes */
    }
}